body {
  background-image: url("/src/assets/images/festival.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: -1em;
}

