@use 'src/styles/vars';
.card {
  background-color: vars.$backgroundColor !important;
  font-weight: bolder;
  box-shadow: 2px 2px 0.5px rgba(128, 128, 128, 0.568);
  margin:1em;
  color:black;
}
.card:hover{
  transition: all 0.3s; 
  border-radius: 2rem !important;
  transform: scale(1.03);
}
