body {
  background-image: url("festival.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#mainNav {
  background-color: white;
  opacity: 0.5;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255,255,255,.7);
  font-weight: 800;
  text-transform: uppercase;
}

.form-select {
  margin:3em;
}
.card-group {
  margin:3em;
}
.card-img  {
  width: 65%;
}
