body {
  background-image: url("festival.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.form-select {
  margin:3em;
}
.form-control{
 height: 3em;
}
.navbar li{
  margin-left : 2em;
  margin-right : 2em; 
}
.navbar-brand  {
  margin-left: 1em ;
  margin-right:2em;
  color:rgb(121, 15, 1);
  font-weight: bold;
}
.nav-link {
  color:rgb(121, 15, 1);
  font-weight: bold;
  text-align: center;
}
.navbar-light .navbar-toggler-icon {
  color:rgb(121, 15, 1);
  font-weight: bold;
}
#mainNav {
  background-color: rgba(255, 255, 255, 0.432);
}

.card {
  margin:3em;
  box-shadow: 5px 5px 0.5px #00000038 ;
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 5px;
}

footer {
  background-color: rgba(255, 255, 255, 0.336);
  margin-top: 2em;
}
.card-img{
  text-align: center;
  clip-path:ellipse(33% 50%);
  opacity: 100%;

}
.card-text {
  font-weight: 700 ;
}
.card:hover{
  border-radius: 5px;
  transform: scale(1.1);
}
.nav-link:hover {
  transform: scale(1.1);
  color:rgb(156, 20, 2);
}
input{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.931);
  box-shadow: 1px 1px 0.5px #6d6c6cde ;
}
