@use 'src/styles/vars';

.navbar{
  background-color: vars.$backgroundColor;
  width: 100% !important; 
}
.navbar-title{
  color: vars.$fontColor !important;
  margin-right: 1em;
  font-weight: bolder;
  text-align: center;
}

.nav-link {
  color: vars.$fontColor !important;
  font-weight: bold;
  text-align: center;
  font-size: 1.1em;
}

