
#mainNav{
  opacity: 50%;
  background-color:white;
}
.nav-link {
  color:aqua; 
  font-weight: bold;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color:aqua;
}
