@use 'src/styles/vars';

#mainNav{
  background-color: vars.$backgroundColor;
}
.navbar-title{
  color: vars.$fontColor !important;
  margin-right: 1em;
  font-weight: bolder;
  text-align: center;
}

.nav-link {
  color: vars.$fontColor !important;
  font-weight: bold;
  text-align: center;
}
